
/src/fs_hardware_interface/output/*
!/src/fs_hardware_interface/output/.gitkeep

/src/fs_hardware_interface/data/*
!/src/fs_hardware_interface/data/.gitkeep

/.idea/
*/.idea/
/.vscode/
*/.vscode/
/build/
/devel/
*/build/
*/devel/

*.pyc

/src/imitation_learning/data/*
!/src/imitation_learning/data/.gitkeep
!/src/imitation_learning/data/README

/src/imitation_learning/logs/*
!/src/imitation_learning/logs/.gitkeep
!/src/imitation_learning/logs/README

/src/imitation_learning/models/*
!/src/imitation_learning/models/.gitkeep
!/src/imitation_learning/models/README

/src/imitation_learning/old_data/*
!/src/imitation_learning/old_data/.gitkeep
!/src/imitation_learning/old_data/README

/src/imitation_learning/output/*
!/src/imitation_learning/output/.gitkeep
!/src/imitation_learning/output/README

/src/imitation_learning/weights/*
!/src/imitation_learning/weights/.gitkeep
!/src/imitation_learning/weights/README

/src/reinforcement_learning/models/*
!/src/reinforcement_learning/models/.gitkeep
!/src/reinforcement_learning/models/README

/.catkin_workspace
/src/reinforcement_learning/training_results/

!*README*
!*/README*
